<%
  let data = {};
%>
<!-- page content -->
<div class="right_col" id="pagecode_<%=page_Code%>" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Form Wizards</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Manage Companies
              <small>Sessions</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li> -->
              <li><a href="#"><i class="fa fa-wrench"></i></a></li>
              <li><a href="/companies/list"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">


            <!-- Smart Wizard -->
            <!-- <h2>Example: Vertical Style</h2> -->
            <!-- Tabs -->
            <form method="post" action="/companies/editone" novalidate>
              <!-- <div id="wizard_company_edit" class="form_wizard wizard_verticle"> -->
                <!-- <ul class="list-unstyled wizard_steps">
                  <li>
                    <a href="#step-11">
                      <span class="step_no">1</span>
                    </a>
                  </li>
                </ul> -->


                <!-- <div id="step-11"> -->
                  <!-- <h2 class="StepTitle">Step 1</h2> -->

                  <div class="form-horizontal form-label-left">
                    <!-- <span class="section">Basic details</span> -->

                    <!-- name -->
                    <div class="form-group field">
                      <label class="control-label col-md-3 col-sm-3" for="name">College Name
                        <span class="required">*</span>
                      </label>
                      <div class="col-md-5 col-sm-5">
                        <input type="text" id="name" name="name" value="<%-data.name%>" required="required" class="form-control col-md-7 col-xs-12" placeholder="Univibe company" data-validate-length-range="3,15" readonly="readonly">
                      </div>
                    </div>
                    <!-- slug -->
                    <div class="form-group field">
                      <label class="control-label col-md-3 col-sm-3" for="slug">Default URL</label>
                      <div class="col-md-3 col-sm-3">
                        <input type="text" id="slug" name="slug" value="<%-data.slug%>" class="form-control col-md-7 col-xs-12" placeholder="univibe-company" required="required" readonly="readonly" >
                      </div>
                      <label class="control-label col-md-2 col-sm-2" style="text-align: left;">.univibe.com</label>
                    </div>
                    <!-- domain -->
                    <div class="form-group field">
                      <label class="control-label col-md-3 col-sm-3" for="domain">Domain</label>
                      <div class="col-md-5 col-sm-5">
                        <input type="url" id="domain" name="domain" value="<%-data.domain%>" class="form-control col-md-7 col-xs-12" placeholder="univibealumni.com" data-validation="url">
                      </div>
                    </div>
                    <!-- long_name -->
                    <div class="form-group field">
                      <label for="middle-name" class="control-label col-md-3 col-sm-3" for="long_name">College Long Name
                        <span class="required">*</span>
                      </label>
                      <div class="col-md-5 col-sm-5">
                        <input id="long_name" name="long_name" value="<%-data.long_name%>" required="required" class="form-control col-md-7 col-xs-12" placeholder="Univibe Alumni Assosiation"
                          type="text" data-validate-length-range="5,25" data-validate-words="2">
                      </div>
                    </div>
                    <!-- short_name -->
                    <div class="form-group field">
                      <label for="middle-name" class="control-label col-md-3 col-sm-3" for="short_name">College Short Name
                        <span class="required">*</span>
                      </label>
                      <div class="col-md-5 col-sm-5">
                        <input id="short_name" name="short_name" value="<%-data.short_name%>" required="required" class="form-control col-md-7 col-xs-12" placeholder="Univibe Alumni"
                          type="text" data-validate-length-range="5,15">
                      </div>
                    </div>
                    <!-- establishment_year -->
                    <div class="form-group field">
                      <label for="middle-name" class="control-label col-md-3 col-sm-3" for="establishment_year">Establishment Year
                        <span class="required">*</span>
                      </label>
                      <div class="col-md-5 col-sm-5">
                        <input id="establishment_year" required="required" value="<%-data.establishment_year%>" class="form-control col-md-7 col-xs-12" type="number" data-validate-minmax="1900,2020">
                      </div>
                    </div>
                    <!-- registered_date -->
                    <div class="form-group field">
                      <label class="control-label col-md-3 col-sm-3">Created date</label>
                      <div class="col-md-5 col-sm-5">
                        <input readonly="readonly" value="<%-new Date(data.registered_date).toLocaleDateString()%>" class="form-control col-md-7 col-xs-12" type="text">
                      </div>
                    </div>
                    <!-- last_updated -->
                    <div class="form-group field">
                      <label class="control-label col-md-3 col-sm-3">Last Edited</label>
                      <div class="col-md-5 col-sm-5">
                        <input readonly="readonly" value="<%-new Date(data.last_updated).toLocaleDateString()%>" class="form-control col-md-7 col-xs-12" type="text">
                      </div>
                    </div>

                  </div>
                <!-- </div> -->


              <!-- </div> -->
              <div class="actionBar">
                  <button type="reset" class="btn btn-primary">Cancel</button>
                  <button id="send" type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

            <!-- End SmartWizard Content -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->